form
{
margin: 0 auto;
width: 400px;
padding : 1em;
border: 1px solid salmon;
border-radius: 1em;
}
form div + div 
{
  margin-top: 1em;
}
label
{
  display: inline-block;
  width: 90px;
  text-align: right;
}
input, textarea, fieldset
{
  font: 1em sans-serif;
  width:  300px;
  box-sizing: border-box;
  border: 1px solid salmon;
}
input :focus, textarea :focus
{
border-color: salmon;
}
textarea
{
  vertical-align: top;
  height: 8em;
}
.button
{
  padding-left: 90px;
}
button
{
  margin-left: .5em;
}
h1
{
  font-style: italic;
}
